* {
font-weight: bold;
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: rgba(240, 230, 140, 0.555);
}

.result {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-height: 10vh;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

ul
{
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    color:rgb(255, 0, 64);
}

h2
{
    color:rgb(65, 105, 225);
    margin-left: 30px;
}
